version: '3.7'

services:
  unbound:
    image: mvance/unbound:latest
    container_name: unbound
    hostname: unbound
    ports:
      - "5335:53/tcp"
      - "5335:53/udp"
    restart: unless-stopped
